@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --main-font: 'Montserrat', sans-serif;
  --main-weight: 400;
  --bold-weight: 700;
  --color-01: #120F18;
  --color-02: #27415C;
  --color-03: #5C9DDC;
  --color-04: #46D6DD;
  --color-05: #DDFFFF;
  --color-06: #FFFFFF;
}

html {
  font-size: 16px;
}
body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  margin: 0;
  max-width: 1920px;
}
section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  max-width: 1440px;
  padding: 2rem;
  @media (min-width: 769px) {
    flex-direction: row;
    gap: 5rem;
    padding: 4rem 2rem;
  }
}
h1,h2,h3,h4,h5,p {
  margin: 0
}

/* Texts */
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5 {
  font-family: var(--main-font);
  font-weight: var(--bold-weight);
}
.text-h1 {
  font-size: 3rem;
  line-height: normal;
}
.text-h2 {
  font-size: 2.25rem;
  line-height: normal;
}
.text-h3 {
  font-size: 1.5rem;
  line-height: normal;
}
.text-h4 {
  font-size: 1.13rem;
  line-height: 1.5rem;
}
.text-h5 {
  font-size: 1rem;
  line-height: 1.25rem;
}
.body-1 {
  font-size: 1rem;
  line-height: 1.63rem;
}
.body-2 {
  font-size: 0.88rem;
  line-height: 1.13rem;
}

/* Button */
.button {
  background-color: var(--color-04);
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--color-06);
  cursor: pointer;
  display: inline-block;
  font-family: var(--main-font);
  font-weight: var(--bold-weight);
  height: 3.5rem;
  padding: 1rem 2rem;
}
.button:hover{
  background-color: var(--color-02);
}

/* Collapse */
.collapse__content {
  @media (min-width: 769px) {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }
}
.collapse__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  max-width: 366px;
  width: 100%;
  @media (min-width: 769px) {
    justify-content: center;
    max-width: 400px;
  }
}
.collapse__container .text-h2 {
  text-align: center;
  @media (min-width: 769px) {
    text-align: left;
  }
}
.collapse__image-desktop {
  display: none;
  @media (min-width: 769px) {
    display: flex;
    img {
      border-radius: 1rem;
      object-fit: cover;
      width: 100%;
    }
  }
}
.collapse__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.collapse__item {
  border: 1px solid var(--color-03);
  border-radius: .5rem;
  fill: var(--color-06);
  @media (min-width: 769px) {
    border: none;
  }
}
.collapse__item-tab {
  align-items: center;
  border-radius: .5rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
  &:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
.collapse__item[open] .collapse__item-tab {
  background-color: var(--color-05);
  border-radius: .5rem .5rem 0 0;
  @media (min-width: 769px) {
    border-radius: .5rem;
  }
  &:hover {
    box-shadow: none;
  }
}
.marker-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url('../img/chevron-right.png');
  background-size: contain;
  background-repeat: no-repeat;
  @media (min-width: 769px) {
    display: none;
  }
}
.collapse__item[open] .marker-icon {
  background-image: url('../img/chevron-down.png');
}
.collapse__item-tab::-webkit-details-marker {
  display: none;
}
.collapse__item-container {
  padding: 1rem;
  @media (min-width: 769px) {
    display: none;
  }
}
.collapse__image {
  border-radius: 1rem;
  width: 100%;
}

section.hero {  
  @media (min-width: 769px) {
    align-items: center;
  }
  .gradient-image {
    display: none;
    @media (min-width: 769px) {
      display: block;
      max-height: 349px;
      max-width: 597px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }
  }
  .hero__content,
  .hero__image {
    @media (min-width: 769px) {
      width: 50%;
    }
  }
  .hero__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media (min-width: 769px) {
      align-items: flex-start;
      gap: 4rem;
    }
  }
  .hero__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    @media (min-width: 769px) {
      text-align: left;
    }
  }
  .hero__image {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.63rem;
    height: 282.42px;
    @media (min-width: 769px) {
      height: 500px;
      justify-content: center;
    }
  }
  .phone-image {
    max-height: 282.42px;
    max-width: 100%;
    @media (min-width: 769px) {
      max-height: 500px;
      width: 100%;
    }
  }
}
